# Build Folders
obj/
bin/

# NuGet
project.nuget.cache
*.nuget.g.*

# Visual Studio specific
*.user
*.suo
*.cache

*.sln

/node_modules*

# Log files
Logs/
*.log

# Ignore SQLite database files
Application.db*
*.db-wal
*.db-shm