@model MapYourMeal.Models.Review;

<h2>Create New Review</h2>

<!--<a href="/"> Eksempel form, ikke ferdig </a> -->

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Note">Note</label>
        <input asp-for="Note" class="form-control" />
        <span asp-validation-for="Note" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rating">Rating</label><span class="text-danger">*</span>
        <input asp-for="Rating" class="form-control" />
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl">IMG</label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Dish">Dish</label>
        <input asp-for="Dish" class="form-control" />
        <span asp-validation-for="Dish" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsGlutenFree">IsGlutenFree</label>
        <input asp-for="IsGlutenFree" class="form-control" />
        <span asp-validation-for="IsGlutenFree" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsVegan">IsVegan</label>
        <input asp-for="IsVegan" class="form-control" />
        <span asp-validation-for="IsVegan" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsDairyFree">IsDairyFree</label>
        <input asp-for="IsDairyFree" class="form-control" />
        <span asp-validation-for="IsDairyFree" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserId">UserId</label>
        <input asp-for="UserId" class="form-control" />
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RestaurantId">RestaurantId</label>
        <input asp-for="RestaurantId" class="form-control" />
        <span asp-validation-for="RestaurantId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Table" class="btn btn-secondary">Back to Table View</a>
</form>