@*@model IEnumerable<MapYourMeal.ViewModels.Review>*@

@model MapYourMeal.ViewModels.ReviewsViewModel 

<h1>List of Reviews (@Model.CurrentViewName View)</h1>


@*<h1>List of Reviews (@ViewBag.CurrentViewName View)</h1>*@
<partial name="_ReviewsTable" model="Model.Reviews" />
