@model MapYourMeal.Models.Review

<h2>Update Review @Model.Restaurant?.RestaurantName</h2>


<!--<a href="/"> Eksempel form, ikke ferdig </a> -->

<form asp-action="Update">
    <input type="hidden" asp-for="ReviewId" />
    <input type="hidden" asp-for="UserId" /> 
    <input type="hidden" asp-for="RestaurantId" /> 
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Note">Note</label>
        <input asp-for="Note" class="form-control" />
        <span asp-validation-for="Note" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rating">Rating</label><span class="text-danger">*</span>
        <input asp-for="Rating" class="form-control" />
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Dish">Dish type</label><span class="text-danger">*</span>
        <input asp-for="Dish" class="form-control" />
        <span asp-validation-for="Dish" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsGlutenFree">Is Glutenfree</label>
        <input asp-for="IsGlutenFree" class="form-control" />
        <span asp-validation-for="IsGlutenFree" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsVegan">Is Vegan</label>
        <input asp-for="IsVegan" class="form-control" />
        <span asp-validation-for="IsVegan" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsDairyFree">Is Dairyfree</label>
        <input asp-for="IsDairyFree" class="form-control" />
        <span asp-validation-for="IsDairyFree" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageData">Image</label>
        <input asp-for="ImageData" type="file" name="image" accept="images/*" />
        <span asp-validation-for="ImageData" class="text-danger"></span>
        <img src="@Url.Action("GetImage", new { id = Model.ReviewId })" alt="Review Image" style="max-width: 80px; max-height: 80px;" />
    </div>
    @*<div class="form-group">
        <label asp-for="UserId">User Id</label>
        <input asp-for="UserId" class="form-control" />
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RestaurantId">Restaurant Id</label>
        <input asp-for="RestaurantId" class="form-control" />
        <span asp-validation-for="RestaurantId" class="text-danger"></span>
    </div>*@
    <button type="submit" class="btn btn-primary" style="background-color: #2a5b80;">Save Changes</button>
    <a asp-area="Identity" asp-page="/Account/Manage/Index" class="btn btn-secondary">Cancel</a>
</form>