@model MapYourMeal.Models.Restaurant

@{
    ViewData["Title"] = "Create";
}

<section class="mapYourMealInfo">
    <h1>Welcome to the MapYourMeal Community</h1>
    <p>Do you have a favorite restaurant that caters to your unique dietary needs? We'd love to hear about it! <br>
        Click on the map to register a restaurant! By registering a restaurant, you're not only sharing your best-kept secrets but, <br>
        also helping others discover new dining options that fit their dietary restrictions. <br><br>
        Join us in our mission to make dining out easier and more enjoyable for everyone. Register a restaurant today and let's broaden our horizons together!<br>
        Every meal you share helps our community grow</p>

<div class="container mt-5">
    <p><i>Properties marked with <span class="text-danger">*</span> is required</i></p>
    <div class="row">
        <div class="col-md-6">
            <h3>Create new Restaurant</h3>
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="RestaurantName">Restaurant Name</label><span class="text-danger">*</span>
                    <input asp-for="RestaurantName" class="form-control" />
                    <span asp-validation-for="RestaurantName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Longitude">Longitude (click map for coordinates)</label><span class="text-danger">*</span>
                    <input asp-for="Longitude" class="form-control" type="number" step="any" readonly />
                    <span asp-validation-for="Longitude" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Latitude">Latitude (click map for coordinates)</label><span class="text-danger">*</span>
                    <input asp-for="Latitude" class="form-control" type="number" step="any" readonly />
                    <span asp-validation-for="Latitude" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address">Address</label><span class="text-danger">*</span>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PostalCode">Postal Code</label><span class="text-danger">*</span>
                    <input asp-for="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City">City</label><span class="text-danger">*</span>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Webpage">Webpage</label>
                    <input asp-for="Webpage" class="form-control" />
                    <span asp-validation-for="Webpage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone">Phone</label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageData">Image</label>
                    <input asp-for="ImageData" type="file" name="image" accept="images/*" />
                    <span asp-validation-for="ImageData" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg">Create</button>
                    <a href="@Url.Action("Index", "Home")" class="btn btn-danger btn-lg">Cancel</a>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="map-placeholder" id="createRestaurantMap"></div>
        </div>
    </div>
</div>

