@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Shop</h1>
    <p>You are now in our shop!</p>
    <p>
        <a class="btn btn-secondary" asp-controller="Review" asp-action="Create">Create New Item</a>
    </p>
</div>

<!--<partial name="_Carousel" />-->