@{
    ViewData["Title"] = "Home Page";
}

 <!-- Search Section -->
    <section class="search-section">
        <h1>MapYourMeal</h1>
        <p>Discover the best food in your area tailored to your dietary restrictions with MapYourMeal;<br> your go-to guide for finding diet-compatible dining options.</p>


        <!-- Search Bar -->
        <div class="d-flex justify-content-center">
            <select class="form-select form-select-lg me-2" style="max-width: 200px;" aria-label="Looking for">
                <option selected>I'm looking for...</option>
                <option value="1">Pizza</option>
                <option value="2">Pasta</option>
                <option value="2">Gluten free</option>
                <option value="2">Option</option>
            </select>
            <input type="text" class="form-control form-control-lg me-2" style="max-width: 300px;" placeholder="Oslo">
            <button class="btn btn-success btn-lg">Search</button>
        </div>

        <!-- Diet Icons -->
        <div class="diet-icons d-flex justify-content-center">
            <div class="text-center mx-3">
                <img src="@Url.Content("~/images/gluten_free.png")" alt="Gluten free">
                <p>Gluten free</p>
            </div>
            <div class="text-center mx-3">
                <img src="@Url.Content("~/images/vegan.png")" alt="Vegan">
                <p>Vegan</p>
            </div>
            <div class="text-center mx-3">
                <img src="@Url.Content("~/images/dairy_free.png")" alt="Dairy free">
                <p>Dairy free</p>
            </div>
        </div>
    </section>