html, body {
  font-size: 14px;
  height: 100%;
  display: flex;
  flex-direction: column;
  ;
}

header.navbar {
  background-color: #92b6da;
  padding: 20px;
  flex-shrink: 0; /* Ensure the navbar doesn't shrink */
}

.container.body-content {
  flex-grow: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.mapYourMealInfo h1 {
  text-align: center;
  font-size: clamp(2.5rem, 6vw, 4rem); 
}

.mapYourMealInfo h1,
.mapYourMealInfo > p:first-of-type {
  text-align: center;
}

.mapYourMealInfo {
  padding: 10px 0;
  text-align: left;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.row.mb-4.p-3 {
  position: relative;
}

.btn.btn-secondary {
  white-space: nowrap;
  min-width: 20px;
  position: absolute;
  right: 0;
  top: 0px;
}

.restaurant-list {
  max-height: 70vh; 
  overflow-y: auto;
  overflow-x: hidden;
}

#map {
  width: 100%; 
  height: 70vh;
}

#createRestaurantMap {
  width: 30rem;
  height: 500px;
}

.footer {
  padding: 20px;
  text-align: center;
  margin-top: auto;
  flex-shrink: 0;
  background-color: #92b6da;
}

@media (max-width: 760px) {
  .restaurant-list {
    max-height: 45vh; 
    margin-bottom: 10px;
  }

  #map {
    height: 45vh; 
  }
}