html, body {
  font-size: 14px;
  height: 100%;
  display: flex;
  flex-direction: column;
  ;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

header.navbar {
  background-color: #92b6da; /* Example background color */
  padding: 20px;
  flex-shrink: 0; /* Ensure the navbar doesn't shrink */
}

.container.body-content {
  flex-grow: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  
}

.mapYourMealInfo {
  padding: 10px 0;
  text-align: center;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


.restaurant-list {
  max-height: 400px; 
  overflow-y: autp;
  overflow-x: hidden;
  
}

#map {
  width: 35rem;
  height: 400px;
}

#createRestaurantMap {
  width: 30rem;
  height: 500px;
}

.footer {
  padding: 20px;
  text-align: center;
  margin-top: auto;
  flex-shrink: 0;
  background-color: #92b6da;
}